<%= form_with(model: target, local: true) do |form| %>
  <% if target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
      <% target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-sm-3">
      <%= form.label :name %>
      <%= form.text_field :name, id: :target_name , class:"form-control"%>
    </div>
  </div>

  <div class="actions">
    <%= form.submit  class:"btn btn-success" %>
  </div>
<% end %>
