<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_field :message, id: :issue_message, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :device_id %>
    <%= form.select :device_id,  content_tag(:option,'Seleccione...',:value=>"") + options_from_collection_for_select(Device.all, "id", :to_s,:selected => form.object.device_id),{}, {:class => 'form-control'} %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
