<%= form_with(model: device, local: true) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :device_name , class: "form-control"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <%= form.label :latitude %>
        <%= form.text_field :latitude, id: :device_latitude , class: "form-control"%>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <%= form.label :longitude %>
        <%= form.text_field :longitude, id: :device_longitude , class: "form-control"%>
      </div>
    </div>   
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :target_id %>
        <%= form.select :target_id,  content_tag(:option,'Seleccione...',:value=>"")+options_from_collection_for_select(Target.all, "id", :to_s),{}, {:class => 'form-control'} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :esp_id %>
        <%= form.select :esp_id,  content_tag(:option,'Seleccione...',:value=>"")+options_from_collection_for_select(Esp.unassigned, "id", :to_s),{}, {:class => 'form-control'} %>
      </div>
    </div>
  </div>
    
    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
<% end %>
