
<div class="row">
  <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Device Infomation</div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-sm-12">
              <p>
                <strong>Name:</strong>
                <%= @device.name %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p>
                <strong>Latitude:</strong>
                <%= @device.latitude %>
              </p>
            </div>
            <div class="col-sm-6">
              <p>
                <strong>Longitude:</strong>
                <%= @device.longitude %>
              </p>
            </div>
          </div>
        <div class="row">
          <div class="col-sm-6">
              <p>
              <strong>Target:</strong>
              <%= @device.target %>
              </p>
            </div>
            <div class="col-sm-6">
              <p>
                <strong>Esp:</strong>
                <%= @device.esp %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">

              <p>
                <strong>Program:</strong>
                <%= @device.program %>
              </p>
              
            </div>
          </div>
          <div class="row">

            <div class="col-sm-4">
              
              <p>
                <strong>Actual Version:</strong><br>
                <%= @device.actualVersion.nil? ? "" : @device.actualVersion.number %>
                <%= @device.actualVersion.nil? ? "" : @device.actualVersion.changelog %> 
                <%= @device.versionState.nil? ? "" : @device.versionState.state_s%>
                
              </p>
            </div>
            <div class="col-sm-4"> 
              
              <p>
                <strong>Last Available:</strong><br>
                <%= @device.program.lastVersion.number %>
                <%= @device.program.lastVersion.changelog %>
              </p>
            </div>
          </div>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Change Log</th>
                  <th>State</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                <% @device.device_versions.each do |dv| %>
                  <tr>
                    <td><%= dv.version.number%></td>
                    <td><%= dv.version.changelog%></td>
                    <td><%= dv.state_s%></td>
                    <td><%= dv.created_at.strftime("%Y-%m-%d %H:%M:%S")%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>
            
          <%= link_to 'Edit', edit_device_path(@device), class: "btn btn-warning" %> |
          <%= link_to 'Back', devices_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  <div class="col-sm-6">
      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%= @device.latitude %>%2C<%= @device.longitude %>&key=AIzaSyDnQ_vmTzLheQajtReLjKB3RCkSIJVEsDk" allowfullscreen></iframe> 
  </div>
</div>
  