<%= form_with(model: program, local: true) do |form| %>
  <% if program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= form.label :name %>
      <%= form.text_field :name, id: :program_name, class:"form-control" %>
    </div>    
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= form.label :description %>
      <%= form.text_field :description, id: :program_description, class:"form-control" %>
    </div>
  </div>
  <%=form.collection_select :target_ids,Target.all,:id,:name,{}, {multiple: true, :class => 'selectpicker form-control', :id => "temas"}%>

  <div class="actions">
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
<script type="text/javascript">
  $('#temas').selectpicker('hide');
  $('#temas').selectpicker('show');
  $('#temas').selectpicker('refresh'); 
</script>
