

<h1>Esps</h1>

<table class="table">
  <thead>
    <tr>
      <th>Mac</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @esps.each do |esp| %>
      <tr>
        <td><%= esp.mac %></td>
        <td><%= esp.version %></td>
        <td><%= link_to 'Show', esp, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_esp_path(esp), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', esp, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Esp', new_esp_path , class: "btn btn-success"%>
